figure{
    margin: 40px auto;
    width: 300px;
    animation-name: zmien-szerokosc;
    animation-duration: 4s;
    animation-iteration-count: 15;
    animation-timing-function: ease-in;
}

figure img{
    width: 100%;
    transition: all 4s;
}

/*
@keyframes zmien-szerokosc{
    0%, 100%{
        width: 400px;
    }
    40%, 60%{
        width: 650px;
    }
}
*/

@keyframes koloruj{
    0%{
        background-color: #fff;
    }
    
    25%{
        background-color: hotpink;
    }
    50%{
        background-color: maroon;
    }
    75%{
        background-color: chocolate;
    }
    100%{
        background-color: #ccc;
    }
}

body{
    animation-name: koloruj;
    animation-duration: 5s;
    animation-iteration-count: 2;
    animation-delay: 3s;
    animation-fill-mode:forwards;
}














